{% extends "blog/dashboard.html" %}
{% load static %}
{% block content %}
    <div class="container-alert">
        <!-- <p id="click-me" class="btn btn-sm btn-info">Kategori</p>
    <div id="this">
        <div class="col-md-12">
            <h1>data</h1>
        </div>
    </div> -->
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Welcome TokoSerbaAda</strong>
        <br>
        <hr size="20px">
        <h5 class="da">Kami akan Melayani Anda</h5>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>        
    </div>
    <div class="container-baru">
      <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide"><img class="img" src="/media/content/1.svg" alt=""></li>
            <li class="glide__slide"><img class="img" src="/media/content/2.svg" alt=""></li>
            <li class="glide__slide"><img class="img" src="/media/content/3.svg" alt=""></li>
            <li class="glide__slide"><img class="img" src="/media/content/4.svg" alt=""></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-data2">
        <div class="row">
            <div class="col-md-6 col-sm-12 de">
                <div class="card">
                    <div class="card-body">
                        <br>
                        <label for="" class="da">Kategori</label>
                        {% include "layout/glide.html" %}
                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-sm-12 de">
                <div class="card">
                    <div class="card-body">
                        <h1 class="da" style="font-size: medium;">Topup dan tagihan</h1>
                    <hr size="10px">
                    <ul class="nav nav-tabs bordered da" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-3" role="tab">Pulsa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">Paket Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-5" role="tab">Listrik PLN</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active padtop da" id="tabs-3" role="tabpanel">
                            <div class="media-body padtop">
                                <div class="row">
                                 <input type="text" class="form-control da" style="width: 200px;" placeholder=" Rp. Jumlah Pulsa">
                                 <select class="form-control" style="width: 200px;">
                                    <option  class="form-control" selected>Small select</option>
                                    <option  class="form-control">Small a</option>
                                    <option  class="form-control">Small b</option>
                                  </select>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane da padtop" id="tabs-4" role="tabpanel">
                            <div class="media-body">
                                <h5 class="mt-0 padtop">Media</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                        <div class="tab-pane da padtop" id="tabs-5" role="tabpanel">
                            <div class="media-body">
                                <h5 class="mt-0 padtop">Media heading</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                    </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="content">
        {% with ''|center:2 as range %}
              {% for _ in range %}
              <br>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                            <img src="/media/content/undraw_android_jr64.svg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <p class="content-isi">Antigores Antishock</p>
                                <p class="content-rp">Rp.20.000</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                            <img src="/media/content/undraw_camera_mg5h.svg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="content-isi">Antigores Antishock</p>
                                <p class="content-rp">Rp.20.000</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                            <img src="/media/content/undraw_electric_car_b7hl.svg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="content-isi">Antigores Antishock</p>
                                <p class="content-rp">Rp.20.000</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                            <img src="/media/content/undraw_web_shopping_dd4l.svg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="content-isi">Antigores Antishock</p>
                                <p class="content-rp">Rp.20.000</p>
                            </div>
                          </div>
                    </div>
                  </div>
            </div>
            {% endfor %}
          {% endwith %}
    </div>
    <script
			  src="https://code.jquery.com/jquery-3.4.1.js"
			  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
			  crossorigin="anonymous"></script>
    <script src="{% static 'blog/js/glide.min.js' %}"></script>
    <script>
      const config = {
          type: 'carousel',
          autoplay: 2000,
          perView: 3,
          breakpoints: {
            600: {
              perView: 1
            }
          }
      }
      new Glide('.glide', config).mount()
      
      $('#click-me').click(function() {
            var height = $("#this").height();
            if( height > 0 ) {
                $('#this').css('height','0');
            } else {
                var clone = $('#this').clone()
                            .css({'position':'absolute','visibility':'hidden','height':'auto'})
                            .addClass('slideClone')
                            .appendTo('body');
                
                //$("#this").css({'position':'absolute','visibility':'hidden','height':'auto'});
                //var newHeight = $("#this").height();
                var newHeight = $(".slideClone").height();
                $(".slideClone").remove();
                //$("#this").css({'position':'static','visibility':'visible','height':'0'});
                $('#this').css('height',newHeight + 'px');
            }
        });
    </script>
{% endblock content %}