{% extends "blog/base_dashboard.html" %}
{% load static %}
{% block content %}
<style>
  .container-data {
    padding-top: 100px;
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.1);
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 100px;
  }
  .container-data2 {
    padding-top: 100px;
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.1);
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 100px;
  }
  .title {
    margin-left:40px;
    font-family: Arial, sans-serif;
    color:black;
  }
  .title2 {
    margin-left:40px;
    font-family: Arial, sans-serif;
  }
  .dashboard {
    margin-right: 20px;
    border-radius: 8px;
    padding-top: 70px;
    width: 90%;
  }
  .container {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .img {
   width: 100%;
   height: 100%;
  }
</style>
  <div class="container">
    <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <li class="glide__slide"><img class="img" src="media/slider/slider1.svg" alt=""></li>
          <li class="glide__slide"><img class="img" src="media/slider/slider2.svg" alt=""></li>
          <li class="glide__slide"><img class="img" src="media/slider/slider3.svg" alt=""></li>
        </ul>
      </div>
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
      </div>
    </div>
  </div>
  <div class="container-data">
    <div class="row">
      <div class="col-md-6">
        <strong><h1 class="title">Mendefinisikan kebutuhan</h1></strong>
        <br>
          <h5 class="title2">
            Aplikasi yang akan dibuat nantinya akan di jalankan pada platform apa ?
            Contoh, aplikasi yang kita buat ini akan digunakan pada platform web. Maka nantinya program akan dijalankan
            pada komputer ber os : windows versi berapa, linux, mac os dan lainnya dengan browser tertentu. Selain itu
            kita juga butuh komputer dan tools lainnya untuk membuat programnya.</h5>
        <br>
        <strong><h1 class="title">Merancang flowchart</h1></strong>
        <br>
          <h5 class="title2">
            Setelah kebutuhan program sudah terpenuhi. Kita buat alur programmnya.
            Kebanyakan programmer membuat flowchart terlebih dahulu sebelum membuat
            sebuah program aplikasi</h5>
      </div>
      <div class="col-md-6">
        <img class="dashboard" src="" alt="" src="/media/dashboard/dashboard2.svg">
      </div>
    </div>
  </div>
  <br>
  <div class="container-data2">
    <div class="row">
      <div class="col-md-6">
        <strong><h1 class="title">Mendefinisikan kebutuhan</h1></strong>
        <br>
          <h5 class="title2">
            Aplikasi yang akan dibuat nantinya akan di jalankan pada platform apa ?
            Contoh, aplikasi yang kita buat ini akan digunakan pada platform web. Maka nantinya program akan dijalankan
            pada komputer ber os : windows versi berapa, linux, mac os dan lainnya dengan browser tertentu. Selain itu
            kita juga butuh komputer dan tools lainnya untuk membuat programnya.</h5>
        <br>
        <strong><h1 class="title">Merancang flowchart</h1></strong>
        <br>
          <h5 class="title2">
            Setelah kebutuhan program sudah terpenuhi. Kita buat alur programmnya.
            Kebanyakan programmer membuat flowchart terlebih dahulu sebelum membuat
            sebuah program aplikasi</h5>
      </div>
      <div class="col-md-6">
        <img class="dashboard" src="" alt="" src="/media/dashboard/dashboard.svg">
      </div>
    </div>
  </div>
  <script src="{% static 'blog/js/glide.min.js' %}"></script>
  <script>
    const config = {
        type: 'carousel',
        perView: 2,
        breakpoints: {
          600: {
            perView: 1
          }
        }
    }
    new Glide('.glide', config).mount()
  </script>
{% endblock content %}