{% extends "blog/base_dashboard.html" %}
{% load static %}
{% block content %}
{% include 'layout/slider.html' %}
  <div class="container-data">
    <div class="row">
      <div class="col-md-6">
        <strong><h1 class="title">Mendefinisikan kebutuhan</h1></strong>
        <br>
          <h5 class="title2">
            Aplikasi yang akan dibuat nantinya akan di jalankan pada platform apa ?
            Contoh, aplikasi yang kita buat ini akan digunakan pada platform web. Maka nantinya program akan dijalankan
            pada komputer ber os : windows versi berapa, linux, mac os dan lainnya dengan browser tertentu. Selain itu
            kita juga butuh komputer dan tools lainnya untuk membuat programnya.</h5>
        <br>
        <strong><h1 class="title">Merancang flowchart</h1></strong>
        <br>
          <h5 class="title2">
            Setelah kebutuhan program sudah terpenuhi. Kita buat alur programmnya.
            Kebanyakan programmer membuat flowchart terlebih dahulu sebelum membuat
            sebuah program aplikasi</h5>
      </div>
      <div class="col-md-6">
        <img class="dashboard" src="" alt="" src="/media/dashboard/dashboard2.svg">
      </div>
    </div>
  </div>
  <br>
  <div class="container-data2">
    <div class="row">
      <div class="col-md-6">
        <strong><h1 class="title">Mendefinisikan kebutuhan</h1></strong>
        <br>
          <h5 class="title2">
            Aplikasi yang akan dibuat nantinya akan di jalankan pada platform apa ?
            Contoh, aplikasi yang kita buat ini akan digunakan pada platform web. Maka nantinya program akan dijalankan
            pada komputer ber os : windows versi berapa, linux, mac os dan lainnya dengan browser tertentu. Selain itu
            kita juga butuh komputer dan tools lainnya untuk membuat programnya.</h5>
        <br>
        <strong><h1 class="title">Merancang flowchart</h1></strong>
        <br>
          <h5 class="title2">
            Setelah kebutuhan program sudah terpenuhi. Kita buat alur programmnya.
            Kebanyakan programmer membuat flowchart terlebih dahulu sebelum membuat
            sebuah program aplikasi</h5>
      </div>
      <div class="col-md-6">
        <img class="dashboard" src="" alt="" src="/media/dashboard/dashboard.svg">
      </div>
    </div>
  </div>
  <script src="{% static 'blog/js/glide.min.js' %}"></script>
  <script>
    const config = {
        type: 'carousel',
        autoplay: 2000,
        perView: 3,
        breakpoints: {
          600: {
            perView: 2
          }
        }
    }
    new Glide('.glide', config).mount()
  </script>
{% endblock content %}